@HeaderWidth: 100%;
@HeaderHeight: 50px;

@HeaderContentWidth: 90%;
@HeaderContentItemWidth: 100px;

@HeaderContentHeadWidth: 100px;
@HeaderContentFootWidth: 100px;

@ContentWidth: 70%;
@RoutesWidth: 30%;

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: @HeaderWidth;
  height: @HeaderHeight;
  background-color: aqua;

  .header_content {
    width: @HeaderContentWidth;
    height: inherit;
    margin: 0 auto;
    line-height: @HeaderHeight;

    display: flex;
    flex-direction: row;

    .header_content_head {
      text-align: center;
      width: @HeaderContentHeadWidth;
      height: inherit;
    }

    .header_content_foot {
      text-align: center;
      width: @HeaderContentFootWidth;
      height: inherit;
      position: relative;
      right: 0;
    }

    .header_content_item {
      flex-grow: 1;

      .header_content_items {
        display: inline-block;
        text-align: center;
        width: @HeaderContentItemWidth;
        height: inherit;
      }
    }
  }

}

.main {
  margin-top: @HeaderHeight;
  background-color: aquamarine;
  width: 100%;
  height: 100vh;

  .content {
    text-align: center;
    width: @ContentWidth;
  }

  .routes {
    position: fixed;
    right: 0;
    background-color: blueviolet;
    width: @RoutesWidth;
    height: 100vh;
    top: @HeaderHeight;
  }

  .routes_smart {
    display: block;
    position: fixed;
    left: 0;
    top: @HeaderHeight;
    width: 100%;
    height: 100vh;
    background-color: burlywood;
  }

  .smartBtn {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    text-align: center;

    .header_content {
      .header_content_head {
        display: none;
      }

      .header_content_foot {
        display: none;
      }
    }
  }
}

@media screen and(max-width: 960px) {
  .main {
    .routes {
      display: none;
    }

    .content {
      width: inherit;
    }

    .smartBtn {
      @size: 60px;
      display: block;
      position: fixed;
      text-align: center;
      right: 10%;
      bottom: 10%;
      width: @size;
      height: @size;
      line-height: @size;
      background-color: springgreen;
    }
  }
}